<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculate</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/w3.css}">

</head>
<body>
<div class="wrapper">
    <div class="w3-container w3-teal">
        <h3> Sum of two number</h3>
    </div>
    <form class="w3-container w3-card-4" th:action="@{/calculate}" method="post">
        <p>
            <label class="w3-text-grey">Input a: </label>
            <!--/*@thymesVar id="a" type="String"*/-->
            <input class="w3-input w3-border" type="text" required name="a" th:value="${a}">
        </p>
        <p>
            <label class="w3-text-grey">Input b: </label>
            <!--/*@thymesVar id="b" type="String"*/-->
            <input class="w3-input w3-border" type="text" required name="b" th:value="${b}">
        </p>
        <p>
            <label class="w3-text-grey">Sum: </label>
            <!--/*@thymesVar id="sum" type="String"*/-->
            <input class="w3-input w3-border" type="text" required disabled name="sum" th:value="${sum}">
        </p>
        <p>
            <button type="submit" class="w3-btn w3-padding w3-teal" style="width:120px">Calculate &nbsp; ❯</button>
        </p>
    </form>
</div>
</body>
</html>